img {
    height: 100px;
    width: 100px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f8fc46 !important;

    h2 {
        display: flex;
        justify-content: center;
    }

    .login-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo-login {
        width: 200px;
        height: 200px;
    }
}

.small-popup {
    width: 250px;
    height: 300px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

.small-popup-comprador {
    width: 250px;
    height: 250px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}


.offcanvas {
    top: 95px !important;
}